<div class="login-container">
  <div class="login-item">
    <h2 style="font-family: 'Bitstream Charter';">Log in to rule them all</h2>
    <form style="width: 100%" >
      <div>
        <mat-form-field style="width: 80%; align-self: center;" >
          <input [(ngModel)]="mail" matInput placeholder="Email" value="" name="mail" type="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 80%; align-self: center;">
          <input [(ngModel)]="password" matInput placeholder="Password" type="password" name="password" value="">
        </mat-form-field>
      </div>
    </form>
    <div>
      <button type="submit" (click)="login()">Log in!</button>
      <button type="submit" (click)="console.log('Wypierdalaj')">Register!</button>
    </div>
  </div>
</div>
